{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>ToDo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div class="content">
  <div class="toph"></div>
  <div class="right">
    <div class="title"> ЗАМЕТКИ </div>
    <div class="nav">
      <ul>
        <li><a href="{% url 'home' %}"> Главная </a></li>
        <li><a href="{% url 'completed-todos' %}"> Выполнено </a></li>
        <li><a href="{% url 'add-todo' %}"> Добавить </a></li>
      </ul>
    </div>
    <br />
    <br />
    <hr />
    <div class="footer_text"> &copy; Copyright Grey Blog<br />
      Design: <a href="http://www.free-css-templates.com/" title="Free CSS Templates">David Herreman</a><br />
      <a href="rss/">RSS Feed</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and 
      <a href="http://validator.w3.org/check?uri=referer">XHTML</a> </div>
  </div>
  <div class="center">
    {% if todos %}
      {% for todo in todos %}
        <h2><a href="#">{{todo.title}}</a></h2>
        {{todo.body|truncatewords:10}}
        <p class="date">
          <img src="{%static 'images/more.gif' %}" alt="" /> 
          <a href="#"> Читать </a> 
          {% if todo.is_done == False %} 
            <img src="{%static 'images/comment.gif' %}" alt="" />
            <a href="{% url 'completed' todo.pk %}"> Выполнено </a> 
          {% endif %}
          <img src="{%static 'images/comment.gif' %}" alt="" /> 
          <a href="{% url 'delete' todo.pk %}"> Удалить </a> <img src="images/timeicon.gif" alt="" /> {{todo.created_at|date:"Y-m-d" }}
        </p>
      {% endfor %}
    {% else %}
        <h2>Заметок нет</h2>
        {% block content %}
        {% endblock content %}
    {% endif %}
  </div>
  <div class="footer"></div>
</div>
</body>
</html>
